@{
    ViewData["Title"] = "Home Page";
}

@model BooksListViewModel

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            @foreach (var book in Model.Book)
            {
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">@book.Title</h5>
                        <p class="card-text">Author: @book.Author</p>
                        <p class="card-text">Publisher: @book.Publisher</p>
                        <p class="card-text">ISBN: @book.Isbn</p>
                        <p class="card-text">Classification: @book.Classification</p>
                        <p class="card-text">Category: @book.Category</p>
                        <p class="card-text">Pages: @book.PageCount</p>
                        <p class="card-text">Price: $@book.Price</p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="text-center p-1">
    <div page-model="@Model.PaginationInfo" page-action="Index"></div>
</div>
